/*COLOR SCHEME
PLATINUM: #E6E6EA (WHITE)
TOMATO: #FF5E42 (RED)
ORANGE(WEB): #FFA400 (ORANGE)
DEEP KOAMARU: #29335C (BLUE)
BLACK: #000000
*/

.jumbotron{
  padding-top: 6em;
  background-color: #FF5E42;
  color: #FFFFFF;
}

body  {
    background-color: #E6E6EA;
}

label{
  color: #000000;
}

#welcome{
  color: #29335C;
  margin-bottom: 10%;
}

#card-header{
  background-color: #FF5E42;
  color: #FFFFFF;
}

#submit{
  padding: 10% 0;
}
