/*COLOR SCHEME
PLATINUM: #E6E6EA (WHITE)
TOMATO: #FF5E42 (RED)
ORANGE(WEB): #FFA400 (ORANGE)
DEEP KOAMARU: #29335C (BLUE)
BLACK: #000000
*/
h1.display-2{
  font-family: 'Lobster', cursive;
}

.jumbotron{
  padding-top: 6em;
  background-color: #FF5E42;
  color: #FFFFFF;
}

body  {
    background-color: #E6E6EA;
}

label{
  color: #000000;
}

.nounderline{
  text-decoration: none;
  color:#FFFFFF;
}

.nounderline:hover{
  text-decoration: none;
  color:#FFFFFF;
}
#welcome{
  color: #29335C;
  margin-bottom: 10%;
}

#card-header{
  background-color: #FF5E42;
  color: #FFFFFF;
}

#submit{
  padding: 10% 0;
}

.margin{
  margin: 0, 10%;
}

.padding{
  padding: 5% 0;
}

.paddingRL{
  padding: 0% 5%;
}
